.question-navigator {
    display: flex; 
    flex-wrap: wrap; 
    margin-bottom: 20px; 
    padding: 10px;
    border: 1px solid #444; 
    justify-content: center;
    border-radius: 15px;
}

.nav-button {
    padding: 8px 12px;
    margin: 5px;
    background-color: #333; 
    color: #f0f0f0; 
    border: 1px solid #555;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

.nav-button:hover {
    background-color: #454545;
    border-color: #777;
}

.nav-button.current {
    background-color: #00ffd2;
    color: #1a1a1a;
    font-weight: bold;
}

@media (prefers-color-scheme: light) {
    .nav-button {
        background-color: #f0f0f0;
        color: black;
    }

    .nav-button:hover {
        background-color: #bcbcbc;
        border-color: #777;
    }
}
